extends ../layouts/main.pug
block content
  .container
    header
      h1= title
    div
      table.table.table-striped
        thead
          tr
            th Title
            th Status
          tbody
            each song in songs
              tr
                td
                  a(href=`/songs/${song.id}`)= song.title
                td= song.status
                td
                  a(href=`/songs/${song.id}/edit`) edit
                  = ` | `
                  form.destroy(action=`/songs/destroy`, method="POST")
                    input(type="hidden", name="song[id]", value=`${song.id}`)
                    input.destroy(type="submit", value="destroy")