extends ../layouts/main.pug
block content
  .container
    header
      h1= title
    div
      table.table.table-striped
        thead
          tr
            th Name
            th Band
            th Album
            th Year
            th Genre
            th Length
          tbody
            each song in songs
              tr
                td
                  a(href=`/songs/${song.id}`)= song.name
                td= song.band
                td= song.album
                td= song.year
                td= song.genre
                td= song.length
                td
                  a(href=`/songs/${song.id}/edit`) edit
                  = ` | `
                  form.destroy(action=`/songs/destroy`, method="POST")
                    input(type="hidden", name="song[id]", value=`${song.id}`)
                    input.destroy(type="submit", value="destroy")