extends ../layouts/main.pug
block content
  .container
    header
      h1= title
    div
      table.table.table-striped
        thead
          tr
            th Name
            th Band
            th Album
            th Year
            th Genre
            th Length
            th
          tbody
            each song in songs
              tr
                td
                  a(href=`/songs/${song.id}`)= song.name
                td
                  a(href=`/songs/band/${song.band}`)= song.band
                td
                  a(href=`/songs/album/${song.album}`)= song.album
                td
                  a(href=`/songs/year/${song.year}`)= song.year
                td
                  a(href=`/songs/genre/${song.genre}`)= song.genre
                td= song.length
                td
                  a(href=`/songs/${song.id}/edit`) edit
                  = ` | `
                  form.destroy(action=`/songs/destroy`, method="POST")
                    input(type="hidden", name="song[id]", value=`${song.id}`)
                    input.destroy(type="submit", value="destroy")