extends ../layouts/main.pug
block content
  .container
    header
      h3= song.name

    div
      table.table.table-striped.table-bordered.table-fit.center
        tbody
          tr
            td  Band
            td= song.band
          tr
            td  Album
            td= song.album
          tr
            td  Year
            td= song.year
          tr
            td  Genre
            td= song.genre
          tr
            td  Length
            td= song.length